%h1= "<%= singular_name.humanize %>"
  
- content_tag_for(:dl, @<%= singular_name %>) do
<% attributes.each do |attribute| -%>
  %dt.label= '<%= attribute.name.humanize %>'
  %dd.<%= attribute.name -%>= h @<%= singular_name %>.try(:<%= attribute.name %>)
<% end -%>

- if has_authority(:editor)
  %div.admin_block
    %p
      = link_to t(:edit).capitalize} + " " + t(:<%= singular_name %>), edit_admin_<%= singular_name %>_path(@<%= singular_name %>), :class => "edit"