- content_tag_for(:tr, <%= singular_name -%>, :class => cycle(:odd, :even)) do
<% attributes.each do |attribute| -%>
  %td.<%= attribute.name %>= h <%= singular_name %>.try(:<%= attribute.name %>)
<% end -%>
  %td.actions
    = link_to t(:edit).capitalize, edit_admin_<%= singular_name %>_path(<%= singular_name %>), :class => "edit"
    |
    = link_to t(:destroy).capitalize, confirm_destruction_admin_<%= singular_name %>_path(<%= singular_name %>), :class => "delete"