<h1><%%= t(:editing) %> <%%= t(:<%= singular_name %>) %></h1>
<%%= render :partial => 'form' %>
<p>
	<%%= link_to t(:show), admin_<%= singular_name %>_path(@<%= singular_name %>), :class => "show" %> |
	<%%= link_to t(:list), admin_<%= plural_name %>_path, :class => "list" %>
</p>